<%# app\views\editors\show.html.erb %>

<div>
  <%= render 'header'%>
  <div class="editor" data-controller="tags">
    <aside class="editor--sidebar">

      <p class="sidebars-title">
        カテゴリ
      </p>

      <ul>
          <% @categories.each do |category| %>
              <li class="category-item">
                <%= link_to editor_path(selected_category: category.name),
                    class: "category-link #{'active' if category == @selected_category}",
                    style: "--category-color: #{category.image_color};" do %>
                    
                    <span class="category-dot <%= category[:key] %>"></span>
                    <span class="category-label"><%= category.display_name %></span>
                    <span
                      class="category-count"
                      data-tags-target="count"
                      data-category-name="<%= category.name %>"
                    >
                    0
                    </span>
                <% end %>
              </li>
          <% end %>
      </ul>
    </aside>

    <main class="editor--main">
      <div class="tag-grid">
        <% @tags.each do |tag| %>
          <input
            type="checkbox"
            id="tag_<%= tag.id %>"
            class="tag-toggle"
            value="<%= tag.id %>"
            data-action="change->tags#toggle"
            data-category-name="<%= @selected_category.name %>"
          >
          
          <label
            for="tag_<%= tag.id %>"
            class="tag-input-like"
            style="--category-color: <%= @selected_category.image_color %>;"
          >
            <%= tag.display_name %>
          </label>
        <% end %>
      </div>
    </main>
    <%= render "editor__preview" %>
  </div>
</div>
