<%# app\views\editors\show.html.erb %>

<div>
  <%= render 'header'%>
  <div class="editor" data-controller="tags">
    <aside class="editor--sidebar">

      <p class="sidebars-title">
        カテゴリ
      </p>

      <ul>
          <% @categories.each do |category| %>
              <li class="category-item">
                <%= link_to editor_path(selected_category: category.name),
                    class: "category-link #{'active' if category == @selected_category}",
                    style: "--category-color: #{category.image_color};" do %>
                    
                    <span class="category-dot <%= category[:key] %>%"></span>
                    <span class="category-label"><%= category.display_name %></span>
                    <span
                      class="category-count"
                      data-tags-target="count"
                      data-category-name="<%= category.name %>"
                    >
                    0
                    </span>
                <% end %>
              </li>
          <% end %>
      </ul>
    </aside>

    <main class="editor--main">
      <div class="tag-grid">
        <% @tags.each do |tag| %>
          <input
            type="checkbox"
            id="tag_<%= tag.id %>"
            class="tag-toggle"
            value="<%= tag.name %>"
            data-action="change->tags#toggle"
            data-category-name="<%= @selected_category.name %>"
          >
          
          <label
            for="tag_<%= tag.id %>"
            class="tag-input-like"
            style="--category-color: <%= @selected_category.image_color %>;"
          >
            <%= tag.display_name %>
          </label>
        <% end %>
      </div>
    </main>

    <script>
      const tagMap = <%= raw @tag_all_map.to_json %>
      const categoryMap = <%= raw @category_all_map.to_json %>
    </script>

    <aside class="editor--preview">

      <div class="selected-preview">
        <div class="sidebars-title">選択中のタグ</div>
        <div class="selected-preview-grid">
          <pre data-tags-target="selectedTagPreview"></pre>
        </div>
      </div>

      <div class="json-preview">
        <div class="sidebars-title">JSONプレビュー</div>
        <pre data-tags-target="preview" class="json-preview-text"></pre>
      </div>

    </aside>
  </div>
</div>
