<%# app\views\editors\show.html.erb %>

<div>
  <%= render 'header'%>
  <div class="editor">
    <aside class="editor--sidebar">

      <p class="sidebars-title">
        カテゴリ
      </p>

      <ul>
          <% @categories.each do |category| %>
              <li class="category-item">
                <%= link_to editor_path(selected_category: category.name),
                    class: "category-link #{'active' if category == @selected_category}",
                    style: "--category-color: #{category.image_color};" do %>
                    
                    <span class="category-dot <%= category[:key] %>"></span>
                    <span class="category-label"><%= category.display_name %></span>
                    <span class="category-count"><%= 4 || "" %></span>
                <% end %>
              </li>
          <% end %>
      </ul>
    </aside>

    <main class="editor--main">
      <div class="tag-grid">
        <% @tags.each do |tag| %>
          <div class="tag-card" style="--category-color: <%= @selected_category.image_color %>;">
            <%= tag.display_name %>
          </div>
        <% end %>
      </div>
    </main>
    <%= render "editor__preview" %>
  </div>
</div>
