<%# app/views/tags/index.html.erb %>

<div>
  <%= render 'header'%>
  <div class="editor">
    <%= render "editor__sidebar", categories: @categories, selected_category: @selected_category, selected_tags: @selected_tags %>
    <%= render "editor__main" %>
    <%= render "editor__preview" %>
  </div>
</div>

<%
=begin
%>
  <aside class="left-column">
    <h2>カテゴリ</h2>
    <%= render "category_list", categories: @categories, selected_category: @selected_category, selected_tags: @selected_tags %>
  </aside>

  <main class="center-column">
    <h2>タグ一覧</h2>
    <%= render "taglist", tags: @tags, selected_tags: @selected_tags, selected_category: @selected_category %>
  </main>

  <aside class="right-column">
    <h2>プレビュー</h2>
    <%= render "preview", selected_tags: @selected_tags, json_preview: @json_preview %>
  </aside>

  <div class="action-bar">
    <button onclick="copyJson()">JSONコピー</button>
    <button>プロンプトコピー</button>
    <button>プリセット保存</button>
  </div>

  <div id="toast" class="toast">コピーしました</div>
<%
=end
%>